{% extends 'base.html.twig' %}

{% block title %}Edit Boleto{% endblock %}

{% block body %}
    <h1>Edit Boleto</h1>

    {{ include('boleto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_boleto_index') }}">back to list</a>

    {{ include('boleto/_delete_form.html.twig') }}
{% endblock %}
