<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pierde tu dinero{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #007bff;
        }

        a.buttonLogin{
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            border-radius: 5px;
            margin-top: 10px;
        }
        a.buttonLogout{
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            background-color: #db2e2e;
            color: #fff;
            border-radius: 5px;
            margin-top: 10px;
        }
        a.buttonLogout:hover {
            background-color: #7d1e1e;
        }

        a.buttonLogin:hover {
            background-color: #218838;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% if is_granted("ROLE_USER") %}
        <p>Hola {{app.user.username}}.</p>
        <a href="/logout" class="buttonLogout">Logout</a>
    {% else %}
        <p>Hola visitante,</p>
        <a href="/login" class="buttonLogin">Iniciar sesión</a>
    {% endif %}

    {% block body %}{% endblock %}
</body>
</html>

